NeoGutenberg/.vs/NeoGutenberg/v16/.suo
NeoGutenberg/DatosGutenberg/obj/Debug/DatosGutenberg.csproj.FileListAbsolute.txt
NeoGutenberg/DatosGutenberg/obj/Debug/DatosGutenberg.csprojAssemblyReference.cache
NeoGutenberg/NegocioGutenberg/obj/Debug/NegocioGutenberg.csprojAssemblyReference.cache
NeoGutenberg/NeoGutenberg/bin/NeoGutenberg.dll
NeoGutenberg/NeoGutenberg/bin/NeoGutenberg.pdb
NeoGutenberg/NeoGutenberg/obj/Debug/NeoGutenberg.csprojAssemblyReference.cache
NeoGutenberg/NeoGutenberg/obj/Debug/NeoGutenberg.dll
NeoGutenberg/NeoGutenberg/obj/Debug/NeoGutenberg.pdb
NeoGutenberg/NGBackOffice/bin/NGBackOffice.dll
NeoGutenberg/NGBackOffice/bin/NGBackOffice.pdb
NeoGutenberg/NGBackOffice/obj/Debug/NGBackOffice.csproj.FileListAbsolute.txt
NeoGutenberg/NGBackOffice/obj/Debug/NGBackOffice.csprojAssemblyReference.cache
NeoGutenberg/NGBackOffice/obj/Debug/NGBackOffice.dll
NeoGutenberg/NGBackOffice/obj/Debug/NGBackOffice.pdb
NeoGutenberg/.vs/NeoGutenberg/v16/.suo
NeoGutenberg/DatosGutenberg/obj/Debug/DatosGutenberg.csproj.FileListAbsolute.txt
NeoGutenberg/DatosGutenberg/obj/Debug/DatosGutenberg.csprojAssemblyReference.cache
NeoGutenberg/NegocioGutenberg/obj/Debug/NegocioGutenberg.csprojAssemblyReference.cache
NeoGutenberg/NeoGutenberg/bin/NeoGutenberg.dll
NeoGutenberg/NeoGutenberg/bin/NeoGutenberg.pdb
NeoGutenberg/NeoGutenberg/obj/Debug/NeoGutenberg.csprojAssemblyReference.cache
NeoGutenberg/NeoGutenberg/obj/Debug/NeoGutenberg.dll
NeoGutenberg/NeoGutenberg/obj/Debug/NeoGutenberg.pdb
NeoGutenberg/NGBackOffice/bin/NGBackOffice.dll
NeoGutenberg/NGBackOffice/bin/NGBackOffice.pdb
NeoGutenberg/NGBackOffice/obj/Debug/NGBackOffice.csproj.FileListAbsolute.txt
NeoGutenberg/NGBackOffice/obj/Debug/NGBackOffice.csprojAssemblyReference.cache
NeoGutenberg/NGBackOffice/obj/Debug/NGBackOffice.dll
NeoGutenberg/NGBackOffice/obj/Debug/NGBackOffice.pdb
NeoGutenberg/.vs/NeoGutenberg/v16/.suo
NeoGutenberg/DatosGutenberg/obj/Debug/DatosGutenberg.csproj.FileListAbsolute.txt
NeoGutenberg/DatosGutenberg/obj/Debug/DatosGutenberg.csprojAssemblyReference.cache
NeoGutenberg/NegocioGutenberg/obj/Debug/NegocioGutenberg.csprojAssemblyReference.cache
NeoGutenberg/NeoGutenberg/bin/NeoGutenberg.dll
NeoGutenberg/NeoGutenberg/bin/NeoGutenberg.pdb
NeoGutenberg/NeoGutenberg/obj/Debug/NeoGutenberg.csprojAssemblyReference.cache
NeoGutenberg/NeoGutenberg/obj/Debug/NeoGutenberg.dll
NeoGutenberg/NeoGutenberg/obj/Debug/NeoGutenberg.pdb
NeoGutenberg/NGBackOffice/bin/NGBackOffice.dll
NeoGutenberg/NGBackOffice/bin/NGBackOffice.pdb
NeoGutenberg/NGBackOffice/obj/Debug/NGBackOffice.csproj.FileListAbsolute.txt
NeoGutenberg/NGBackOffice/obj/Debug/NGBackOffice.csprojAssemblyReference.cache
NeoGutenberg/NGBackOffice/obj/Debug/NGBackOffice.dll
NeoGutenberg/NGBackOffice/obj/Debug/NGBackOffice.pdb
*.cache
NeoGutenberg/.vs/NeoGutenberg/v16/.suo
NeoGutenberg/DatosGutenberg/obj/Debug/DatosGutenberg.csproj.FileListAbsolute.txt
NeoGutenberg/DatosGutenberg/obj/Debug/DatosGutenberg.csprojAssemblyReference.cache
NeoGutenberg/NegocioGutenberg/obj/Debug/NegocioGutenberg.csprojAssemblyReference.cache
NeoGutenberg/NeoGutenberg/bin/NeoGutenberg.dll
NeoGutenberg/NeoGutenberg/bin/NeoGutenberg.pdb
NeoGutenberg/NeoGutenberg/obj/Debug/NeoGutenberg.csprojAssemblyReference.cache
NeoGutenberg/NeoGutenberg/obj/Debug/NeoGutenberg.dll
NeoGutenberg/NeoGutenberg/obj/Debug/NeoGutenberg.pdb
NeoGutenberg/NGBackOffice/bin/NGBackOffice.dll
NeoGutenberg/NGBackOffice/bin/NGBackOffice.pdb
NeoGutenberg/NGBackOffice/obj/Debug/NGBackOffice.csproj.FileListAbsolute.txt
NeoGutenberg/NGBackOffice/obj/Debug/NGBackOffice.csprojAssemblyReference.cache
NeoGutenberg/NGBackOffice/obj/Debug/NGBackOffice.dll
NeoGutenberg/NGBackOffice/obj/Debug/NGBackOffice.pdb
NeoGutenberg/.vs/NeoGutenberg/v16/.suo
NeoGutenberg/DatosGutenberg/bin/Debug/DatosGutenberg.dll
NeoGutenberg/DatosGutenberg/bin/Debug/DatosGutenberg.dll.config
NeoGutenberg/DatosGutenberg/bin/Debug/DatosGutenberg.pdb
NeoGutenberg/DatosGutenberg/bin/Debug/EntityFramework.dll
NeoGutenberg/DatosGutenberg/bin/Debug/EntityFramework.SqlServer.dll
NeoGutenberg/DatosGutenberg/bin/Debug/EntityFramework.SqlServer.xml
NeoGutenberg/DatosGutenberg/bin/Debug/EntityFramework.xml
NeoGutenberg/DatosGutenberg/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
NeoGutenberg/DatosGutenberg/obj/Debug/DatosGutenberg.csproj.CopyComplete
NeoGutenberg/DatosGutenberg/obj/Debug/DatosGutenberg.dll
NeoGutenberg/DatosGutenberg/obj/Debug/DatosGutenberg.pdb
NeoGutenberg/DatosGutenberg/obj/Debug/edmxResourcesToEmbed/MapeoDatos.csdl
NeoGutenberg/DatosGutenberg/obj/Debug/edmxResourcesToEmbed/MapeoDatos.msl
NeoGutenberg/DatosGutenberg/obj/Debug/edmxResourcesToEmbed/MapeoDatos.ssdl
NeoGutenberg/NegocioGutenberg/bin/Debug/DatosGutenberg.dll
NeoGutenberg/NegocioGutenberg/bin/Debug/DatosGutenberg.dll.config
NeoGutenberg/NegocioGutenberg/bin/Debug/DatosGutenberg.pdb
NeoGutenberg/NegocioGutenberg/bin/Debug/EntityFramework.dll
NeoGutenberg/NegocioGutenberg/bin/Debug/EntityFramework.SqlServer.dll
NeoGutenberg/NegocioGutenberg/bin/Debug/EntityFramework.SqlServer.xml
NeoGutenberg/NegocioGutenberg/bin/Debug/EntityFramework.xml
NeoGutenberg/NegocioGutenberg/bin/Debug/NegocioGutenberg.dll
NeoGutenberg/NegocioGutenberg/bin/Debug/NegocioGutenberg.dll.config
NeoGutenberg/NegocioGutenberg/bin/Debug/NegocioGutenberg.pdb
NeoGutenberg/NegocioGutenberg/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
NeoGutenberg/NegocioGutenberg/obj/Debug/NegocioGutenberg.csproj.CopyComplete
NeoGutenberg/NegocioGutenberg/obj/Debug/NegocioGutenberg.csproj.FileListAbsolute.txt
NeoGutenberg/NegocioGutenberg/obj/Debug/NegocioGutenberg.dll
NeoGutenberg/NegocioGutenberg/obj/Debug/NegocioGutenberg.pdb
NeoGutenberg/NeoGutenberg/bin/DatosGutenberg.dll
NeoGutenberg/NeoGutenberg/bin/DatosGutenberg.dll.config
NeoGutenberg/NeoGutenberg/bin/DatosGutenberg.pdb
NeoGutenberg/NeoGutenberg/bin/EntityFramework.dll
NeoGutenberg/NeoGutenberg/bin/EntityFramework.SqlServer.dll
NeoGutenberg/NeoGutenberg/bin/EntityFramework.SqlServer.xml
NeoGutenberg/NeoGutenberg/bin/EntityFramework.xml
NeoGutenberg/NeoGutenberg/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
NeoGutenberg/NeoGutenberg/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
NeoGutenberg/NeoGutenberg/bin/NegocioGutenberg.dll
NeoGutenberg/NeoGutenberg/bin/NegocioGutenberg.dll.config
NeoGutenberg/NeoGutenberg/bin/NegocioGutenberg.pdb
NeoGutenberg/NeoGutenberg/bin/NeoGutenberg.dll.config
NeoGutenberg/NeoGutenberg/bin/roslyn/csc.exe
NeoGutenberg/NeoGutenberg/bin/roslyn/csc.exe.config
NeoGutenberg/NeoGutenberg/bin/roslyn/csc.rsp
NeoGutenberg/NeoGutenberg/bin/roslyn/csi.exe
NeoGutenberg/NeoGutenberg/bin/roslyn/csi.exe.config
NeoGutenberg/NeoGutenberg/bin/roslyn/csi.rsp
NeoGutenberg/NeoGutenberg/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/Microsoft.CodeAnalysis.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/Microsoft.CSharp.Core.targets
NeoGutenberg/NeoGutenberg/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/Microsoft.Managed.Core.targets
NeoGutenberg/NeoGutenberg/bin/roslyn/Microsoft.VisualBasic.Core.targets
NeoGutenberg/NeoGutenberg/bin/roslyn/Microsoft.Win32.Primitives.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.AppContext.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Collections.Immutable.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Console.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Diagnostics.DiagnosticSource.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Diagnostics.StackTrace.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Globalization.Calendars.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.IO.Compression.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.IO.Compression.ZipFile.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.IO.FileSystem.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.IO.FileSystem.Primitives.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Net.Http.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Net.Sockets.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Reflection.Metadata.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Security.Cryptography.Algorithms.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Security.Cryptography.Encoding.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Security.Cryptography.Primitives.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Text.Encoding.CodePages.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Threading.Tasks.Extensions.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.ValueTuple.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Xml.ReaderWriter.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Xml.XmlDocument.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Xml.XPath.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/System.Xml.XPath.XDocument.dll
NeoGutenberg/NeoGutenberg/bin/roslyn/vbc.exe
NeoGutenberg/NeoGutenberg/bin/roslyn/vbc.exe.config
NeoGutenberg/NeoGutenberg/bin/roslyn/vbc.rsp
NeoGutenberg/NeoGutenberg/bin/roslyn/VBCSCompiler.exe
NeoGutenberg/NeoGutenberg/bin/roslyn/VBCSCompiler.exe.config
NeoGutenberg/NeoGutenberg/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
NeoGutenberg/NeoGutenberg/obj/Debug/NeoGutenberg.csproj.CopyComplete
NeoGutenberg/NeoGutenberg/obj/Debug/NeoGutenberg.csproj.FileListAbsolute.txt
NeoGutenberg/NGBackOffice/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
NeoGutenberg/NGBackOffice/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
NeoGutenberg/NGBackOffice/bin/NGBackOffice.dll.config
NeoGutenberg/NGBackOffice/bin/roslyn/csc.exe
NeoGutenberg/NGBackOffice/bin/roslyn/csc.exe.config
NeoGutenberg/NGBackOffice/bin/roslyn/csc.rsp
NeoGutenberg/NGBackOffice/bin/roslyn/csi.exe
NeoGutenberg/NGBackOffice/bin/roslyn/csi.exe.config
NeoGutenberg/NGBackOffice/bin/roslyn/csi.rsp
NeoGutenberg/NGBackOffice/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
NeoGutenberg/NGBackOffice/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
NeoGutenberg/NGBackOffice/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
NeoGutenberg/NGBackOffice/bin/roslyn/Microsoft.CodeAnalysis.dll
NeoGutenberg/NGBackOffice/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
NeoGutenberg/NGBackOffice/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
NeoGutenberg/NGBackOffice/bin/roslyn/Microsoft.CSharp.Core.targets
NeoGutenberg/NGBackOffice/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
NeoGutenberg/NGBackOffice/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
NeoGutenberg/NGBackOffice/bin/roslyn/Microsoft.Managed.Core.targets
NeoGutenberg/NGBackOffice/bin/roslyn/Microsoft.VisualBasic.Core.targets
NeoGutenberg/NGBackOffice/bin/roslyn/Microsoft.Win32.Primitives.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.AppContext.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Collections.Immutable.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Console.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Diagnostics.DiagnosticSource.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Diagnostics.StackTrace.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Globalization.Calendars.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.IO.Compression.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.IO.Compression.ZipFile.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.IO.FileSystem.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.IO.FileSystem.Primitives.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Net.Http.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Net.Sockets.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Reflection.Metadata.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Security.Cryptography.Algorithms.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Security.Cryptography.Encoding.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Security.Cryptography.Primitives.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Text.Encoding.CodePages.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Threading.Tasks.Extensions.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.ValueTuple.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Xml.ReaderWriter.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Xml.XmlDocument.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Xml.XPath.dll
NeoGutenberg/NGBackOffice/bin/roslyn/System.Xml.XPath.XDocument.dll
NeoGutenberg/NGBackOffice/bin/roslyn/vbc.exe
NeoGutenberg/NGBackOffice/bin/roslyn/vbc.exe.config
NeoGutenberg/NGBackOffice/bin/roslyn/vbc.rsp
NeoGutenberg/NGBackOffice/bin/roslyn/VBCSCompiler.exe
NeoGutenberg/NGBackOffice/bin/roslyn/VBCSCompiler.exe.config
NeoGutenberg/NGBackOffice/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
NeoGutenberg/NGBackOffice/obj/Debug/NGBackOffice.csproj.CopyComplete
NeoGutenberg/.vs/NeoGutenberg/v16/.suo
NeoGutenberg/.vs/NeoGutenberg/v16/.suo
NeoGutenberg/.vs/NeoGutenberg/config/applicationhost.config
NeoGutenberg/NGBackOffice/bin/NegocioGutenberg.pdb
NeoGutenberg/NGBackOffice/bin/NegocioGutenberg.dll.config
NeoGutenberg/NGBackOffice/bin/NegocioGutenberg.dll
NeoGutenberg/NGBackOffice/bin/EntityFramework.xml
NeoGutenberg/NGBackOffice/bin/EntityFramework.dll
NeoGutenberg/NGBackOffice/bin/DatosGutenberg.pdb
NeoGutenberg/NGBackOffice/bin/DatosGutenberg.dll.config
NeoGutenberg/NGBackOffice/bin/DatosGutenberg.dll
NeoGutenberg/NGApi/bin/Antlr3.Runtime.dll
NeoGutenberg/NGApi/bin/Antlr3.Runtime.pdb
NeoGutenberg/NGApi/bin/Microsoft.Web.Infrastructure.dll
NeoGutenberg/NGApi/bin/Newtonsoft.Json.dll
NeoGutenberg/NGApi/bin/Newtonsoft.Json.xml
NeoGutenberg/NGApi/bin/NGApi.dll
NeoGutenberg/NGApi/bin/NGApi.dll.config
NeoGutenberg/NGApi/bin/NGApi.pdb
NeoGutenberg/NGApi/bin/roslyn/csc.exe
NeoGutenberg/NGApi/bin/roslyn/csc.exe.config
NeoGutenberg/NGApi/bin/roslyn/csc.rsp
NeoGutenberg/NGApi/bin/roslyn/csi.exe
NeoGutenberg/NGApi/bin/roslyn/csi.exe.config
NeoGutenberg/NGApi/bin/roslyn/csi.rsp
NeoGutenberg/NGApi/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
NeoGutenberg/NGApi/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
NeoGutenberg/NGApi/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
NeoGutenberg/NGApi/bin/roslyn/Microsoft.CodeAnalysis.dll
NeoGutenberg/NGApi/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
NeoGutenberg/NGApi/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
NeoGutenberg/NGApi/bin/roslyn/Microsoft.CSharp.Core.targets
NeoGutenberg/NGApi/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
NeoGutenberg/NGApi/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
NeoGutenberg/NGApi/bin/roslyn/Microsoft.Managed.Core.targets
NeoGutenberg/NGApi/bin/roslyn/Microsoft.VisualBasic.Core.targets
NeoGutenberg/NGApi/bin/roslyn/Microsoft.Win32.Primitives.dll
NeoGutenberg/NGApi/bin/roslyn/System.AppContext.dll
NeoGutenberg/NGApi/bin/roslyn/System.Collections.Immutable.dll
NeoGutenberg/NGApi/bin/roslyn/System.Console.dll
NeoGutenberg/NGApi/bin/roslyn/System.Diagnostics.DiagnosticSource.dll
NeoGutenberg/NGApi/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
NeoGutenberg/NGApi/bin/roslyn/System.Diagnostics.StackTrace.dll
NeoGutenberg/NGApi/bin/roslyn/System.Globalization.Calendars.dll
NeoGutenberg/NGApi/bin/roslyn/System.IO.Compression.dll
NeoGutenberg/NGApi/bin/roslyn/System.IO.Compression.ZipFile.dll
NeoGutenberg/NGApi/bin/roslyn/System.IO.FileSystem.dll
NeoGutenberg/NGApi/bin/roslyn/System.IO.FileSystem.Primitives.dll
NeoGutenberg/NGApi/bin/roslyn/System.Net.Http.dll
NeoGutenberg/NGApi/bin/roslyn/System.Net.Sockets.dll
NeoGutenberg/NGApi/bin/roslyn/System.Reflection.Metadata.dll
NeoGutenberg/NGApi/bin/roslyn/System.Security.Cryptography.Algorithms.dll
NeoGutenberg/NGApi/bin/roslyn/System.Security.Cryptography.Encoding.dll
NeoGutenberg/NGApi/bin/roslyn/System.Security.Cryptography.Primitives.dll
NeoGutenberg/NGApi/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
NeoGutenberg/NGApi/bin/roslyn/System.Text.Encoding.CodePages.dll
NeoGutenberg/NGApi/bin/roslyn/System.Threading.Tasks.Extensions.dll
NeoGutenberg/NGApi/bin/roslyn/System.ValueTuple.dll
NeoGutenberg/NGApi/bin/roslyn/System.Xml.ReaderWriter.dll
NeoGutenberg/NGApi/bin/roslyn/System.Xml.XmlDocument.dll
NeoGutenberg/NGApi/bin/roslyn/System.Xml.XPath.dll
NeoGutenberg/NGApi/bin/roslyn/System.Xml.XPath.XDocument.dll
NeoGutenberg/NGApi/bin/roslyn/vbc.exe
NeoGutenberg/NGApi/bin/roslyn/vbc.exe.config
NeoGutenberg/NGApi/bin/roslyn/vbc.rsp
NeoGutenberg/NGApi/bin/roslyn/VBCSCompiler.exe
NeoGutenberg/NGApi/bin/roslyn/VBCSCompiler.exe.config
NeoGutenberg/NGApi/bin/System.Net.Http.Formatting.dll
NeoGutenberg/NGApi/bin/System.Net.Http.Formatting.xml
NeoGutenberg/NGApi/bin/System.Web.Helpers.dll
NeoGutenberg/NGApi/bin/System.Web.Helpers.xml
NeoGutenberg/NGApi/bin/System.Web.Http.dll
NeoGutenberg/NGApi/bin/System.Web.Http.WebHost.dll
NeoGutenberg/NGApi/bin/System.Web.Http.WebHost.xml
NeoGutenberg/NGApi/bin/System.Web.Http.xml
NeoGutenberg/NGApi/bin/System.Web.Mvc.dll
NeoGutenberg/NGApi/bin/System.Web.Mvc.xml
NeoGutenberg/NGApi/bin/System.Web.Optimization.dll
NeoGutenberg/NGApi/bin/System.Web.Optimization.xml
NeoGutenberg/NGApi/bin/System.Web.Razor.dll
NeoGutenberg/NGApi/bin/System.Web.Razor.xml
NeoGutenberg/NGApi/bin/System.Web.WebPages.Deployment.dll
NeoGutenberg/NGApi/bin/System.Web.WebPages.Deployment.xml
NeoGutenberg/NGApi/bin/System.Web.WebPages.dll
NeoGutenberg/NGApi/bin/System.Web.WebPages.Razor.dll
NeoGutenberg/NGApi/bin/System.Web.WebPages.Razor.xml
NeoGutenberg/NGApi/bin/System.Web.WebPages.xml
NeoGutenberg/NGApi/bin/WebGrease.dll
NeoGutenberg/NGApi/bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
NeoGutenberg/NGApi/Areas/HelpPage/XmlDocumentationProvider.cs
NeoGutenberg/NGApi/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
NeoGutenberg/NGApi/obj/Debug/NGApi.dll
NeoGutenberg/NGApi/obj/Debug/NGApi.pdb
NeoGutenberg/NGApi/bin/NegocioGutenberg.dll
