.header {
    color: #00374f;
    font-size: 27px;
    padding: 10px;
    font-family: Raleway, sans-serif;
}

.bigicon {
    font-size: 25px;
    color: #00374f;
    
}

.fa-phone-square{
    margin-right: 10px;
}