<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
	  <customErrors mode="Off"/>
  <pages>
	  <namespaces>
		  <add namespace="NegocioGutenberg"/>
	  </namespaces>
  </pages>
  </system.web>




	<connectionStrings>
		<!--CONEXIÓN WEB-->
		<add name="GutenbergEntities" connectionString="metadata=res://*/MapeoDatos.csdl|res://*/MapeoDatos.ssdl|res://*/MapeoDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql2016;initial catalog=w220394_Gutenberg;persist security info=True;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--CONEXIÓN JUANCHI A IP PÚBLICA-->
		<!--<add name="GutenbergEntities" connectionString="metadata=res://*/MapeoDatos.csdl|res://*/MapeoDatos.ssdl|res://*/MapeoDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=190.105.214.230\SQLEXPRESS;initial catalog=Gutenberg;user id=sa;password=cloverfield161185;Trusted_Connection=true;persist security info=True;Integrated Security=false;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
		<!--CONEXIÓN JUANCHI A IP PRIVADA-->
		<!--<add name="GutenbergEntities" connectionString="metadata=res://*/MapeoDatos.csdl|res://*/MapeoDatos.ssdl|res://*/MapeoDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.10\SQLEXPRESS;initial catalog=Gutenberg;user id=sa;password=cloverfield161185;Trusted_Connection=true;persist security info=True;Integrated Security=false;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
	</connectionStrings>
	
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>

</configuration>
